<div id="<%= dom_id ticket %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Body:</strong>
    <%= ticket.body %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Recruiter</strong>
    <%= ticket.recruiter.first_name %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Status:</strong>
    <%= ticket.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ticket", ticket, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this ticket', edit_ticket_path(ticket), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
